.my-name {
  box-sizing:border-box;
  color:rgb(0, 0, 0);
  display:inline;
  font-family:Raleway;
  font-size:54px;
  font-weight:700;
  height:auto;
  letter-spacing:normal;
  line-height:59.4px;
  text-align:center;
  text-size-adjust:100%;
  text-transform:uppercase;
  width:auto;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.sm-info {
  box-sizing:border-box;
  color:rgb(67, 63, 64);
  cursor:pointer;
  /*display:inline;*/  
  font-family:Raleway;
  font-size:14px;
  height:auto;
  line-height:16.1px;
  text-align:center;
  text-size-adjust:100%;
  width:auto;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  padding: 6px;
  align-content: center;
  display: flex;
}

.sm-icon, #sm-icon {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/github.png);
  background-size: contain;
  position: absolute;
}

.sm-icon-github {
  background-image: url(../img/github.png);
}

.sm-icon-mail {
  background-image: url(../img/mail-id-icon-47236.png);
}

.sm-icon-phone {
  background-image: url(../img/phone-512.png);
}

.sm-info-text {
  padding-left: 18px;
}

.underline-section {
  background-color:rgb(67, 63, 64);
  box-sizing:border-box;
  color:/*rgb(255, 255, 255)*/rgb(67, 63, 64);
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:21px;
  height:1px;
  line-height:30px;
  margin-bottom:5px;
  text-size-adjust:100%;
  width:172.5px;
  -webkit-print-color-adjust:exact;
  /*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  */-webkit-tap-highlight-color: rgba(67, 63, 64, 0);
}

.underline-section-full {
  background-color:rgb(67, 63, 64);
  box-sizing:border-box;
  color:rgb(67, 63, 64);
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:21px;
  height:1px;
  line-height:30px;
  margin-bottom:5px;
  text-size-adjust:100%;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color: rgba(67, 63, 64, 0);
}

.underline-section-full-heavy {
  background-color:rgb(67, 63, 64);
  box-sizing:border-box;
  color:rgb(67, 63, 64);
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:21px;
  height:3px;
  line-height:30px;
  margin-top:10px;
  margin-bottom:10px;
  text-size-adjust:100%;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color: rgba(67, 63, 64, 0);
}

#black-line-background {
  color:rgb(67, 63, 64);
  -webkit-tap-highlight-color: rgba(67, 63, 64, 0);
}

.job-title {
  border-collapse:collapse;
  box-sizing:border-box;
  color:rgb(0, 0, 0);
  display:contents;
  font-family:Raleway;
  font-size:36.2px;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:700;
  height:39px;
  line-height:39.82px;
  text-align:start;
  text-size-adjust:100%;
  white-space:normal;
  width:268.484px;
  -webkit-border-horizontal-spacing:0px;
  -webkit-border-vertical-spacing:0px;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.employer-title {
  margin: 10px 10px 0px 10px;
  border-collapse:collapse;
  box-sizing:border-box;
  color:rgb(0, 0, 0);
  display:inline-block;
  font-family:Raleway;
  font-size:30.1px;
  font-style:italic;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  height:33px;
  line-height:33.11px;
  text-align:start;
  text-size-adjust:100%;
  white-space:normal;
  -webkit-border-horizontal-spacing:0px;
  -webkit-border-vertical-spacing:0px;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.location {
  padding: 5px 15px 5px 40px;
  border-collapse:collapse;
  box-sizing:border-box;
  color:rgb(0, 0, 0);
  display:inline;
  font-family:Raleway;
  font-size:19.2px;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  height:auto;
  /*line-height:39.82px;
  */text-align:start;
  text-size-adjust:100%;
  white-space:normal;
  width:auto;
  -webkit-border-horizontal-spacing:0px;
  -webkit-border-vertical-spacing:0px;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.date-range {
  border-collapse:collapse;
  box-sizing:border-box;
  color:rgb(0, 0, 0);
  display:inline;
  font-family:Raleway;
  font-size:30.1px;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  height:auto;
  line-height:33.11px;
  text-align:right;
  text-size-adjust:100%;
  white-space:normal;
  width:auto;
  -webkit-border-horizontal-spacing:0px;
  -webkit-border-vertical-spacing:0px;
  -webkit-print-color-adjust:exact;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.spacer {
  padding: 20px;
}

.footer-space {
  padding: 5px;
  /*border: 1px solid black;
*/}

.container {
  padding: 40px;
}

.grey-backgroud {
  background-color: rgb(170, 170, 170);
}

.name-piece {
  background: center url(../img/technology-792181_960_720.jpg);
  background-blend-mode: lighten;
  background-color: darkgray;
  border: black solid 2px;
  padding: 15px;
  margin: 15px -33px;
}

.date-range-div {
  padding-top: 3px;
}

.image-container-0 {
  display: none;
}

.image-container-1 {
  text-align: right;
}

.image-holder-0 {
  background: center url(../img/sample-map.jpg);
  background-size: cover;
  border: black solid 1px;
  margin: 60px 4px;
  height: 191px;
  width: 260px;
}

.image-holder-1 {
  background: center url(../img/sample-map.jpg);
  background-size: cover;
  border: black solid 1px;
  height: 191px;
  width: 260px;
  display: inline-block;
}

@media (min-width: 768px) {
  .image-container-1 {
    position: relative;
  }
}

@media (min-width: 992px) {
  .image-container-1 {
    width: 98%;
    position: absolute;
    margin: 60px 4px;
    margin-bottom: 0px;
    margin-top: 6em;
  }
}

@media (min-width: 1200px) {
    .image-container-1 {
    width: 90%;
  }
}

@media print {
  .image-container-1 {
    width: 98%;
    position: absolute;
    margin: 60px 4px;
    margin-bottom: 0px;
    margin-top: 6em;
  }
}







.image-container-2 {
  text-align: right;
}

.image-holder-2 {
    background: center url(../img/planes-over-gulf.png) no-repeat;
    background-size: cover;
    border: black solid 1px;
    height: 4em;
    width: 260px;
    display: inline-block;
    margin: 1.2em;
}

@media (min-width: 768px) {
  .image-container-2 {
    position: relative;
  }
}

@media (min-width: 992px) {
  .image-container-2 {
    width: 98%;
    position: absolute;
  }
}

@media (min-width: 1200px) {
    .image-container-2 {
    width: 90%;
  }
}

@media print {
  .image-container-2 {
    width: 98%;
    position: absolute;
    margin: 60px 4px;
    margin-bottom: 0px;
    margin-top: 6em;
  }
}

.image-container-3 {
  text-align: right;
}

.image-holder-3 {
    background: center url(../img/sudoku2.png) no-repeat;
    background-size: cover;
    border: black solid 1px;
    height: 8em;
    width: 8em;
    display: inline-block;
    margin: 1.2em;
}

@media (min-width: 768px) {
  .image-container-3 {
    position: relative;
  }
}

@media (min-width: 992px) {
  .image-container-3 {
    width: 98%;
    position: absolute;
  }
}

@media (min-width: 1200px) {
    .image-container-3 {
    width: 90%;
  }
}

@media print {
  .image-container-3 {
    width: 98%;
    position: absolute;
    margin: 60px 4px;
    margin-bottom: 0px;
    margin-top: 6em;
  }
}


.image-container-4 {
  text-align: right;
}

.image-holder-4 {
  background: center url(../img/zombies2.png) no-repeat;
  background-size: cover;
  border: black solid 1px;
  height: 2.5em;
  width: 11em;
  display: inline-block;
  margin: 1.2em;
  background-position-y: bottom;
}

@media (min-width: 768px) {
  .image-container-4 {
    position: relative;
  }
  .image-holder-4 {
    width: 11em;
  }
}

@media (min-width: 992px) {
  .image-container-4 {
    width: 98%;
    position: absolute;
  }

  .image-holder-4 {
    width: 8em;
  }
}

@media (min-width: 1200px) {
  .image-container-4 {
    width: 90%;
  }
  .image-holder-4 {
    width: 11em;
  }
}

@media print {
  .image-container-4 {
    width: 98%;
    position: absolute;
    margin: 60px 4px;
    margin-bottom: 0px;
    margin-top: 6em;
  }
}

.logo-0 {
  text-align: right;
}

.logo-0 {
    background: center url(../img/wv1a.svg) no-repeat;
    background-size: cover;
    height: 1em;
    width: 2.5em;
    display: inline-block;
    margin: -0.1em 2em 0em 2em;
}

@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { display: block; page-break-before: always; }
}

.header-space-border {
  border: black solid 2px;
  width: 100%;
  padding: 1in;
  margin: 1in;
}